//===================== COLOR =========================//
$bg-color-default: #1B2235
$bg-color-secudary: #0d6570
$text-color-default: #000
$text-color-secundary: #65554E
$tittle-color-default: #2A2539
$tittle-color-secundary: #620797


// ===================== FONTS =========================//