@import 'variable'
@import 'mixins'

*
    @include reset

#corpoSite
    display: flex
    flex-direction: column

    height: 100vh


    header
        display: flex

        height: 75px
        background: white
        padding: 0.2rem 0.5rem

        //============= BREAKPOINTs ============//
        @include breakpoint(768px)
            @include flex-align(center, space-between)  

        #logo
            display: flex
            @include flex-align(center, center)

            height: 100%
            width: 30%

            //============= BREAKPOINTs ============//
            @include breakpoint(900px)
                @include flex-align(center, start)

            #logoImg
                display: flex
                @include flex-align(center, center)
                height: 90%
                width: 70px
                overflow: hidden
                

                //============= BREAKPOINTs ============//
                @include breakpoint(768px)
                    height: 80%
                    width: 60px

                //============= BREAKPOINTs ============//
                @include breakpoint(425px)
                    height: 70%
                    width: 50px


                img
                    width: 100%
                    height: 100%
                    border-radius: 50%
                    border: 2px solid rgba(229, 107, 23,1 )

            p
                font-size: 2.5rem
                font-weight: bolder
                color: #f5a672
                -webkit-text-stroke: 0.5px #E56B17
                width: 70%
                font-style: italic

                //============= BREAKPOINTs ============//
                @include breakpoint(768px)
                    display: none



        #checkMenu
            display: none
            @include flex-align(center, center)

            //============= BREAKPOINTs ============//
            @include breakpoint(768px)
                display: flex
                color: #e56b17
                font-weight: bolder
                font-size: 1.2rem

            @include breakpoint(768px)
                width: 50px

            @include breakpoint(425px)
                width: 50px


        #menu
            display: flex
            @include flex-align(center, end)

            padding-top: 0.2rem
            width: 65%


            //============= BREAKPOINTs ============//
            @include breakpoint(768px)
                display: none
            
            a   
                display: flex
                flex-wrap: wrap
                @include flex-align(center, center)

                height: 80%
                width: 150px
                margin: 0 0.2rem
                text-decoration: none
                color: #e56b17
                font-weight: bold
                font-size: 1.1rem
                border-radius: 15px
                transition: 500ms
                text-align: center
                border-bottom: 1px solid $title-color-default

            a:hover
                background: rgba(238,116,32)
                color: $text-color-white
        
        #checkCar
            display: flex
            @include flex-align(center, center)
            padding: 0.2rem

            height: 100%
            width: 5%
            transition: 1s
            border-top-left-radius: 10px
            border-top-right-radius: 10px
            color: #e56b17

            //============= BREAKPOINTs ============//
            @include breakpoint(768px)
                display: none
                color: #f82

            

            .fas
                cursor: pointer

    #bk1
        display: flex
        flex-direction: column
        background: url('../image/headerbg.jpg') no-repeat center
        background-size: cover
        height: 88vh

        #Promo
            display: flex
            @include flex-align(center, center)

            width: 100%
            height: 20%
            background: rgba(0, 0, 0,0.8 )
            backdrop-filter: blur(2px)
            font-weight: bolder
            font-size: 2rem
            color: #e56b17


        #cardProdutos
            display: flex
            @include flex-align(center, space-around)
            gap: 1rem

            width: 100%
            height: 80%
            padding: 1rem
            box-sizing: border-box

            //============= BREAKPOINTs ============//
            @include breakpoint(768px)
                flex-direction: row
                flex-wrap: wrap
                gap: 1rem
                width: 100%
                height: auto
                padding: 0.5rem

            .card
                display: flex
                flex-direction: column
                @include flex-align(center, start)

                gap: 1rem

                width: 25%
                border-radius: 8px
                background: rgba(0, 0, 0,0.8 )
                backdrop-filter: blur(1.5px)
                padding: 3rem
                //============= BREAKPOINTs ============//
                @include breakpoint(768px)
                    width: 45%
                    height: auto
                    padding: 1rem

                @include breakpoint(425px)
                    width: 100%

                .imgCard
                    display: flex
                    flex-direction: column
                    @include flex-align(center, center)

                    width: 100%
                    height: auto

                    @include breakpoint(768px)


                    img
                        max-width: 80%

                .DescriptionProd
                    display: flex
                    flex-direction: column
                    @include flex-align(center, center)

                    width: 100%
                    font-size: 1.2rem
                    color: white
                    font-weight: bold

                    #preco
                        color: #e56b17